/* @import url('https://fonts.googleapis.com/css2?family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&display=swap'); */

@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --secondary: #13a1ed;
  --third: #242424;
  --primary: "#fbc91d";
  --fourth: #cc4e2b;
  --fifth: #33802a;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-philo: var(--font-philosopher);
  --color-secondary: var(--secondary);
  --color-primary: var(--primary);
  --color-third: var(--third);
  --color-fourth: var(--fourth);
  --color-fifth: var(--fifth);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  font-family: var(--font-philosopher);
}

.font-philo {
  font-family: var(--font-philosopher);
}

.bg-primary {
  background-color: #fbc91d;
}

.border-primary {
  border-color: #fbc91d;
}

.text-primary {
  color: #fbc91d;
}

.border-shadow {
  -webkit-box-shadow: -1px -1px 20px -8px rgba(251, 201, 29, 1);
  -moz-box-shadow: -1px -1px 20px -8px rgba(251, 201, 29, 1);
  box-shadow: -1px -1px 20px -8px rgba(251, 201, 29, 1);
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}